html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", "Merriweather", "Pt Serif";
}

p {
    letter-spacing: 0.2px;
    line-height: 22px;
    margin-bottom: 30px;
}
